services:
  thermo-api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
      - "3002:3002"
    environment:
      - NODE_ENV=production
      # See https://www.daikinone.com/openapi/documentation/index.html
      - DAIKIN_INTEGRATOR_TOKEN=
      - DAIKIN_EMAIL=
      - DAIKIN_API_KEY=

      # The port the REST api is listening
      - SERVER_PORT=3001
      # The port the Websocket api is listening
      - WS_PORT=3002

      # The interval for which the Websocket is broadcasting data
      - WS_UPDATE_INTERVAL_MS=10000
      # The interval for which the thermostat information are updated.
      - UPDATE_THERMOSTAT_INTERVAL_MS=30000
      # The interval for which the temperature controller is executed and potentially
      # makes adjustments to the thermostat temperature in order to reach the set target temperature.
      - TEMPERATURE_CONTROLLER_INTERVAL_MS=20000
      # How often the thermostat mode can be updated
      - MAX_THERMOSTAT_UPDATE_FREQUENCY_MS=30000
      # The interval by which the sensor is polled
      - SENSOR_POLL_INTERVAL_MS=30000
      # After which number of sensor poll failures the thermostat will put into error state and stop updating the thermostat.
      - ERROR_AFTER_NUM_SENSOR_POLL_FAILURES=5

      # The temperature threshold, if below will trigger heating
      - HEAT_SETPOINT=19.0
      # The temperature threshold, if above will trigger cooling
      - COOL_SETPOINT=25.0
      # If the controller needs to adjust the temperature at the thermostat,
      # it will use this value as increment.
      - THERMOSTAT_ADJUSTMENT_INCREMENT=0.5

      # The directory where the state of the app is persistet to
      - DATA_DIR=/var/lib/thermo"
    command: ["node", "dist/app.js"]
